In [1]:
import numpy as np
import pandas as pd
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Conv2D, Flatten, Dense
from keras.optimizers import Adam 
from keras.utils import to_categorical
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
import keras_tuner as kt

%matplotlib inline

Using TensorFlow backend.

In [2]:
filepath = "datasets/wine.csv"
df = pd.read_csv(filepath)
df = df.drop("index", axis = 1)
df = df.sample(frac=1, random_state = 42, ignore_index=True)

In [3]:
X = df.drop("quality", axis=1)
y = df["quality"]

In [4]:
pd.unique(y)

array([8, 5, 7, 6, 4, 3, 9], dtype=int64)

In [5]:
y = pd.get_dummies(y)
y

      3  4  5  6  7  8  9
0     0  0  0  0  0  1  0
1     0  0  1  0  0  0  0
2     0  0  0  0  1  0  0
3     0  0  0  1  0  0  0
4     0  0  0  1  0  0  0
...  .. .. .. .. .. .. ..
6492  0  0  1  0  0  0  0
6493  0  0  0  0  1  0  0
6494  0  0  1  0  0  0  0
6495  0  0  1  0  0  0  0
6496  0  0  1  0  0  0  0

[6497 rows x 7 columns]

In [6]:
def build_model(hp):
    model = keras.Sequential()
    for i in range(hp.Int('num_layers', 2, 20)):
        model.add(Dense(units=hp.Int('units_' + str(i),
                                            min_value=10,
                                            max_value=100,
                                            step=4),
                               activation='sigmoid'))
    model.add(Dense(7, activation='softmax'))
    model.compile(
        optimizer=keras.optimizers.Adam(
            hp.Choice('learning_rate', [1e-2, 1e-3])),
        loss='categorical_crossentropy',
        metrics=['accuracy'])
    return model

In [7]:
directory = r'C:\Users\Amaury\Documents'

In [8]:
tuner = kt.RandomSearch(
    build_model,
    objective='val_accuracy',
    max_trials=5,
    executions_per_trial=3,
    directory=directory,
    project_name='Wine')

INFO:tensorflow:Reloading Oracle from existing project C:\Users\Amaury\Documents\Wine\oracle.json
INFO:tensorflow:Reloading Tuner from C:\Users\Amaury\Documents\Wine\tuner0.json

In [12]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(4547, 11)
(1950, 11)
(4547, 7)
(1950, 7)

In [10]:
tuner.search(X_train, y_train,
             epochs=5,
             validation_data=(X_test, y_test))

INFO:tensorflow:Oracle triggered exit

In [11]:
tuner.results_summary()

Results summary
Results in C:\Users\Amaury\Documents\Wine
Showing 10 best trials
Objective(name='val_accuracy', direction='max')
Trial summary
Hyperparameters:
num_layers: 10
units_0: 26
units_1: 90
learning_rate: 0.01
units_2: 14
units_3: 14
units_4: 18
units_5: 34
units_6: 38
units_7: 94
units_8: 14
units_9: 98
units_10: 14
units_11: 94
units_12: 58
units_13: 26
units_14: 62
units_15: 34
Score: 0.4435897469520569
Trial summary
Hyperparameters:
num_layers: 5
units_0: 18
units_1: 70
learning_rate: 0.001
units_2: 78
units_3: 30
units_4: 78
units_5: 78
units_6: 26
units_7: 18
units_8: 82
units_9: 34
units_10: 50
units_11: 26
units_12: 82
units_13: 78
units_14: 54
units_15: 82
Score: 0.4435897469520569
Trial summary
Hyperparameters:
num_layers: 7
units_0: 58
units_1: 14
learning_rate: 0.01
units_2: 34
units_3: 78
units_4: 62
units_5: 54
units_6: 50
units_7: 58
units_8: 22
units_9: 70
units_10: 66
units_11: 38
units_12: 38
units_13: 54
units_14: 14
units_15: 22
Score: 0.4435897469520569
Trial summary
Hyperparameters:
num_layers: 14
units_0: 74
units_1: 94
learning_rate: 0.001
units_2: 10
units_3: 10
units_4: 10
units_5: 10
units_6: 10
units_7: 10
units_8: 10
units_9: 10
units_10: 10
units_11: 10
units_12: 10
units_13: 10
Score: 0.4435897469520569
Trial summary
Hyperparameters:
num_layers: 16
units_0: 10
units_1: 58
learning_rate: 0.01
units_2: 62
units_3: 94
units_4: 74
units_5: 22
units_6: 14
units_7: 74
units_8: 54
units_9: 58
units_10: 38
units_11: 90
units_12: 30
units_13: 62
units_14: 10
units_15: 10
Score: 0.4435897469520569